:root {
    --ambient-color: rgb(46, 11, 11);
    --widht: 1000px;
    --height: 700px;
}

body {
    margin: 0;
    font-family: Arial;
    background-color: var(--ambient-color);
}

#scene {
    border: 1px solid white;
    width: var(--widht);
    height: var(--height);

    background-image: url(iljan-sandstedt-PAcWOTBZ_s4-unsplash.jpg);
    background-size: cover;

   position: absolute;
   overflow: hidden;

   perspective: 300px;

}

#scene .leaf-1 {
    margin-left: calc( var(--widht) / 7);
    width: calc( var(--widht) / 15 );
    height: calc( var(--widht) / 15 );
    /* border: 1px solid yellowgreen;
   background-color: rgb(241, 244, 235);*/

    background-image: url(leaf-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;   

    /* apply the animation */
    animation: fall 10s ease-in;   
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
   
}

/* CSS Animations */
@keyframes fall {
    from {
        top: 0%;
        transform: rotateZ(0)  rotateX(0) scale(0.2);
    }
    to   {
        top: 100%; 
        transform: rotateZ(2turn) rotateX(5turn) scale(0.8);
    }
}

#scene .leaf-2 {
    margin-left: calc( var(--widht) / 4.5);
    width: calc( var(--widht) / 20 );
    height: calc( var(--widht) / 20 );
   
    background-image: url(leaf-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;   

    animation: fall-2 10s linear;   
    animation-fill-mode: forwards;
    animation-iteration-count: 4;
   
}

@keyframes fall-2 {
    from {
        top: 0%;
        transform: rotateY(0)  rotateX(0) scale(0.1);
    }
    to   {
        top: 100%; 
        transform: rotateY(2turn) rotateX(4turn) scale(0.9);
    }
}

#scene .leaf-3 {
    margin-left: calc( var(--widht) / 3);
    width: calc( var(--widht) / 20 );
    height: calc( var(--widht) / 20 );
   
    background-image: url(leaf-3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;   

    animation: fall-3 11s ease-in;   
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
   
}

@keyframes fall-3 {
    from {
        top: 0%;
        transform: rotateZ(0)  rotateY(0) scale(0.3);
    }
    to   {
        top: 100%; 
        transform: rotateZ(3turn) rotateY(5turn) scale(0.9);
    }
}

#scene .leaf-4 {
    margin-left: calc( var(--widht) / 2);
    width: calc( var(--widht) / 20 );
    height: calc( var(--widht) / 20 );
  
    background-image: url(leaf-4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;   

    animation: fall-4 9s ease-in;   
    animation-fill-mode: forwards;
    animation-iteration-count: 4;
   
}

@keyframes fall-4 {
    from {
        top: 0%;
        transform: rotateZ(0)  rotateX(0) scale(0.2);
    }
    to   {
        top: 100%; 
        transform: rotateZ(3turn) rotateX(5turn) scale(1.0);
    }
}


#scene .leaf-5 {
    margin-left: calc( var(--widht) / 1.5);
    width: calc( var(--widht) / 20 );
    height: calc( var(--widht) / 20 );
   
    background-image: url(leaf-5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;   

    animation: fall-5 11s ease-in-out;   
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
   
}

@keyframes fall-5 {
    from {
        top: 0%;
        transform: rotateZ(0)  rotateX(0) scale(0.2);
    }
    to   {
        top: 100%; 
        transform: rotateZ(2turn) rotateX(5turn) scale(0.9);
    }
}



/* HW1: fint 4 more leaf models and clean the backround
   
   HW2: 


*/